<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div style="position: relative; min-height: 100vh">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between text-white">
        <a class="navbar-brand" href="/">Home</a>
        <a href="/logout" class="btn btn-outline-light">
            <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
    </nav>

    <div class="container my-2" style="padding-bottom: 12rem; margin-bottom: 0 !important;">
        <h1>Employee Management System</h1>
        <hr>
        <h2>Save Employee</h2>

        <form th:action="@{/saveEmployee}" th:object="${employee}" method="post">
            <input type="text" th:field="*{firstName}"
                   placeholder="Employee First Name" class="form-control mb-4">
            <input type="text" th:field="*{lastName}"
                   placeholder="Employee Last Name" class="form-control mb-4">
            <input type="text" th:field="*{email}"
                   placeholder="Employee Email" class="form-control mb-4">
            <p style="margin-left: 5px;">hire date:</p>
            <input type="date" th:field="*{hireDate}" class="form-control mb-4">
            <input type="text" th:field="*{department}"
                   placeholder="Department" class="form-control mb-4">
            <input type="text" th:field="*{position}"
                   placeholder="Position" class="form-control mb-4">

            <button type="submit" class="btn btn-info col-2">Save</button>

        </form>

        <hr>
        <a th:href="@{/}">Back to Employee List</a>

    </div>
    <footer class="bg-dark text-center text-white" style="position: absolute; bottom: 0; width: 100%; height: 10.5rem">
        <div class="container p-4 pb-0">
            <section class="">
                <form th:action="@{/employee}">
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto">
                        </div>
                        <div class="col-md-5 col-12">
                            <div class="form-outline form-white mb-4">
                                <form method="get" th:action="@{/employee}" class="form-inline my-2 my-lg-0">
                                    <input aria-label="Search" class="form-control mr-sm-2"
                                           placeholder="Search employee..."
                                           type="text" name="keyword">
                                </form>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-light" type="submit">Search</button>

                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://github.com/BuraBury/springboot-thymeleaf-crud-webb-app" target="_blank">Paulina
                Bury</a>
        </div>
    </footer>
</div>

</body>
</html>
